// Flex Helpers 

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

.align-end{
   align-items: flex-end;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}

//List Helpers
.clean-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}