$clr-header: rgb(33, 38, 43);
$clr-main-mobile:rgb(9,9,10);
$clr-home-input:rgba(238, 238, 238, 0.87);
$clr-confirm:rgb(30, 148, 245);
$clr-logo:rgb(249,167,68);
$clr-body: #f5f7fa;
$clr-move-history:rgba(112, 112, 112, 0.87);

$pl-base:calc(20px + 220 * ((100vw - 700px)/ 1220));

$border-main:1px solid rgba(255, 255, 255, 0.164);
